// Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-gray-light-1: #e7e7e7;

$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;

// font
$default-font-size: 1.6rem;

// grid
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 6rem;